body{
    font-family: "Montserrat";
    text-align: center;
    
}
h2,h3{
    font-family: "Montserrat-Bold";
}
.fab{
    padding: 3% 5%;
}
@media (max-width:1028px) 
{
    .title-img{
        position: static;
        transform: rotate(-25deg);
    }
    #title{
        text-align: center;
    }
}
#title{
    background-color: #ff4c68;
    /* height: 950px; */
    color: white;
    font-weight: bold;
    text-align: left;
    
}
.title-heading,.cta-heading{
    font-family:"Montserrat-Bold";
    font-size: 4rem;
    line-height: 1.5;

}
.title-img{
    width: 40%;
    height: 100%;
    transform: rotate(25deg);
    /* padding: 0 35px; */
    margin-left:200px ;
     /* position: absolute; */
    /* top: 21%; */
    /* right: 17%; */ 
    /* z-index: -1; */

}
.container-fluid{
    padding: 3% 10%;
}

/* NAVBAR */
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.0rem;
    font-weight: bold;
   
}

.navbar{
    padding: 0 0 3.5rem 0;
    margin: 0 0 10px 0;
}

.nav-item{
    padding: 0 1.5rem;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Bold";
}

/* DOWNLOAD BUTTONS */
.btn{
    margin: 5% 3% 3% 0.75%;
}

/* FEATURES */
#features{
    padding: 5% 12%;
    color: white;
    position: relative;
    z-index: 1;
}
.feature-box{
    /* text-align: center; */
    padding: 5%;
}
.features-heading{
    font-family: "Montserrat-Bold";
    font-size: 2rem;
    color: black;
}
p{
    color: gray;
}
.icon{
    color: #ef8172;
    margin: 3%;
}
.icon:hover{
    color: #ff4c68;
}

/* TESTIMONIALS */
#testimonials{
    
    /* text-align: center; */
    background-color: #ff4c68;
    color: white;
    font-family: "Montserrat-Bold";
}
.testimonial-text{
    
    font-size: 3rem;
    line-height: 2;
}
.testimonial-img{
    border-radius: 100%;
    width: 15%;
    margin-top:12px ;
    margin-right: 12px;
}
.carousel-item{
    padding: 1% 12% 5%;
}

/* PRESS SECTION */
#press{
    background-color: #ff4c68;
    /* text-align: center; */
    padding: 1% 0% 5%;
}

.logo{
    width:12% ;
    margin: 0 4%;
}

/* PRICING */
#pricing{
    padding: 5% 12%;
    font-family: "Montserrat-Bold";
    /* text-align: center; */
}
.pricing-col{
    padding: 5% 2%;
}
.pricing-heading,.card-text{
    font-size: 3rem;
    line-height: 2;
}
.card{
    height:420px;
    padding-bottom: 3%;
}
.card-header{
    background-color:#ef8172;
}
/* .card-heading{
    font-family: "Montserrat-Bold";
} */
/* CTA SECTION */
#cta{
    background-color: #ff4c68;
    color: white;
    padding: 5% 12%;
    /* text-align: center; */
    font-family: "Monserrat-Bold";
    font-weight: bolder;
}
/* .cta-heading{
    font-family: "Montserrat-Bold";
    font-size: 4rem;
    line-height: 2;
} */

/* FOOTER SECTION */
#footer{
    padding: 5% 12%;
    /* text-align: center; */
}

.footer-logo{
    margin: 12px 12px;
}